.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  background-color: #242426; /* gray.1000 */
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.coupleInfo {
  margin-top: 32px;
}

.banner {
  margin-top: 28px;
}

.divider {
  margin-top: 32px;
}

.footer {
  margin-top: auto;
  padding-bottom: 22px;
}
