.wrapper {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.heading {
  font-size: 16px;
  font-weight: 600;
  line-height: 160%;
  letter-spacing: -0.02em;
  color: #d3d3d3;
}

.box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 16px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.email {
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: -0.02em;
  color: #ebebeb;
}

.kakaoCircle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fee500;
}
